@model IEnumerable<MVCCore_6_CookieSession.ViewModels.UrunlerVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<a asp-action="CerezOlustur">Sepeti Oluştur</a>
<a asp-action="SepetiGor">Sepeti Gör</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UrunId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrunAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fiyat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KategoriAdi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UrunId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrunAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fiyat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KategoriAdi)
            </td>
            <td>
                @* <a asp-action="SepeteEkle" asp-route-id="@item.UrunId">Sepete Ekle</a> *@

                    <form method="post" asp-action="SepeteEkle">
                        <input type="hidden" name="id" value="@item.UrunId" />
                        <button type="submit">Sepete Ekle</button>
                    </form>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
