@model IEnumerable<MVCCore_6_CookieSession.ViewModels.UrunlerVM>

@{
    ViewData["Title"] = "SepetiGor";
}

<h1>SepetiGor</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UrunId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrunAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fiyat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KategoriAdi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UrunId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrunAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fiyat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KategoriAdi)
            </td>
            <td>
                
            </td>
        </tr>
}
    </tbody>
</table>
