@using MVCCore7Uygulama.ViewModels.Araclar
@model IEnumerable<AracGosterVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="AracEkle">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Uye)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plaka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Renk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fiyat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aciklama)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Uye)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Plaka)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marka)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Renk)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fiyat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Aciklama)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
