@model IEnumerable<MVCCore_2.Models.Product>

@{
    ViewData["Title"] = "GetProductList";
}

<h1>GetProductList</h1>

<p>
    <a asp-action="AddOrEditProduct">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl) 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @* @Html.DisplayFor(modelItem => item.ImageUrl) *@
                <img src="~/images/@item.ImageUrl" width="250px" height="200px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @* @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) *@

                <a asp-action="AddOrEditProduct" asp-route-id="@item.ProductId">Edit</a>
                <a asp-action="GetProductDetail" asp-route-id="@item.ProductId">Detail</a>
                @* <a asp-action="DeleteProduct" asp-route-id="@item.ProductId" onclick="return confirm('are you sure')">Delete</a> *@
                <form asp-action="DeleteProduct" method="post">
                    <input type="hidden" name="id" value="@item.ProductId" />
                    <input type="submit" value="delete" onclick="return confirm('are you sure')" />
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
