@model IEnumerable<MVCCore_5_Uygulama.ViewModels.KitapGetirVM>

@{
    ViewData["Title"] = "Kitap Listesi";
}

<h1>Kitap Listesi</h1>

<p>
    <a asp-action="Ekle">Yeni Kitap Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Kapak Resmi
            </th>
            <th>
                Kitap Adı
            </th>
            <th>
                Yazar
            </th>
            <th>
                Kategori
            </th>
            <th>
                Sayfa Sayısı
            </th>
            <th>
                Özet
            </th>
            <th>
                Yayınevi
            </th>
            <th>
                Fiyat
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
            <td>
                <img src="~/images/@item.KapakResmiUrl" width="100px" height="150px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KitapAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yazar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kategori)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SayfaSayisi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ozet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yayinevi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fiyat) TL
            </td>
            <td>
                <a asp-action="Duzenle" asp-route-id="@item.KitapId">Düzenle</a> |
                <a asp-action="Detay" asp-route-id="@item.KitapId">Detay</a> |
                <a asp-action="Sil" asp-route-id="@item.KitapId" onclick="return confirm('Emin misiniz?')">Sil</a>
            </td> 
        </tr>
}
    </tbody>
</table>
